html{
    display: flex;
    justify-content: center;
    padding:30px;
    background-color: #4B5E5F;
}
body{
    background-color: #1D2938;
    color: white;
    padding: 20px;
    width: 450px;
    border: 5px solid #CCD5CF;
    border-radius: 20px;
    display: block;
    align-items: center;
}
h1{
   font-size: 40px; 
   font-weight: bolder;
   border: none;
   margin: 0;
  }
#pass{
    color: rgb(16, 185, 128);
}
p{
    font-size: 20px;
}
#generate{
    margin:20px 5px;
    border: none;
    padding: 10px;
    width: 200px;
    background-color: rgb(16, 185, 128) ;
    font-size: large;
    font-weight: bold;
    color: #1D2938 ;
    border-radius: 10px;
    border: 2px solid #accaf0;
}
#generate:hover{
    opacity: 50%;
    border: 2px solid white ;
    color: #1D2938 ;
    cursor:pointer;
}
#length{
    margin: 5px 5px 5px 0px;
    border: 3px solid #accaf0 ;
    padding: 10px;
    width:110px;
    height: 22px;

    border-radius: 10px;
    text-align: center;
    font-size:medium;
    background-color: #E8EFEB;
    outline: none;

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
li{
    margin:10px;
    border: none;
    padding: 10px;
    width: fit-content;
    background-color: #283748 ;
    font-size: 25px;
    font-weight:bolder;
    color: rgb(16, 185, 128);
    border-radius: 10px;
    border: 2px solid #accaf0;
    text-align: center;
    list-style: none;
}
#erro{
    color: red;
    margin: 0 0 20px 10px ;
    text-wrap: wrap;

}
#ul-el{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.turn{
    display: flex;
    align-items: center;
    margin: 0;
}
.turn button{
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
    background-color: transparent;
    border: 3px solid green;
    padding: 5px;
    border-radius: 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
}
.turn button:hover{
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
h2{margin:10px 0;}

#symbox , #numbox{
    margin: 5px 5px 5px 10px;
    border: 3px solid #accaf0 ;
    padding: 5px;
    width:75px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size:medium;
    background-color: #E8EFEB;
    outline: none;
}
.appear{
    display: block;
}
#hell:hover{
    box-shadow: 3px 3px 5px black;
    cursor: copy;
}
@media only screen and (max-width: 600px) {
    
    html{
        display: flex;
        justify-content: center;
        padding:10px;
        background-color: #4B5E5F;
    }


    body {
        
        background-color: #1D2938;
        color: white;
        padding: 10px;
        width:100%;
        border: 5px solid #CCD5CF;
        border-radius: 20px;
        display: block;
        align-items: center;
        flex-wrap: wrap;
        text-wrap: wrap;
    }
  }

  @media only screen and (max-width: 420px){
    #generate{
        margin:5px 0 15px 0 ;
        border: none;
        padding: 5px;
        width: 150px;
        background-color: rgb(16, 185, 128) ;
        font-size: medium;
        font-weight: bold;
        color: #1D2938 ;
        border-radius: 10px;
        border: 2px solid #accaf0;
    }

    #symbox , #numbox{
        margin: 5px 5px 5px 10px;
        border: 3px solid #accaf0 ;
        padding: 5px;
        width:75px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        font-size:medium;
        background-color: #E8EFEB;
        outline: none;
    }


    .turn{
        display: flex;
        align-items: center;
        margin: 0;
        flex-wrap: wrap
    }

    

    
    

  }
  @media only screen and (max-width: 320px){
    #symbox , #numbox{
        margin: 0;
        border: 3px solid #accaf0 ;
        padding: 5px;
        width:75px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        font-size:medium;
        background-color: #E8EFEB;
        outline: none;
    }
  }

